.container {
    flex: 1 1 0%;
    width: 12%;
    min-width: 200px;
    
    background-color: #2E3E4E;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 140px;
    height: 60px;
}

.navHeader {
    font-size: 1.1rem;
    padding: 0px 0px 5px 0px;
}

.sidebar{
    margin: 0px 30px;
    color: #D4D4D4;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.sidebar li:hover{
    color: #367BCD;
}
.sidebar li:nth-child(1) {
    color: #D4D4D4;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none
    
}
