.container {
    display: block;
    width: 12%;
    height: 100vh;
    background-color: #344D5B;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 140px;
    height: 60px;
}

.navHeader {
    font-size: 1.6vh;
    padding: 0px 0px 5px 0px;
}

.sidebar{
    margin: 0px 30px;
    color: #D4D4D4;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.sidebar li:hover{
    color: #367BCD;
}
